<a [routerLink]="'/' + manga.title" [ngStyle]="{'width': boxSize + 'px', 'height': boxSize + 'px'} ">
  <div class="thumbnail" style="overflow: hidden;">
    <div [ngStyle]="{
    'background-image': 'url(' + manga.imagePath + ')',
    'width': boxSize + 'px',
    'height': boxSize + 'px'
    }"
    class="img-responsive background-center">
      <!--<img src="http://via.placeholder.com/350x300" width="{{ boxSize }}" height="{{ boxSize }}" alt="">-->
    </div>
    <p id="text-over-image">{{ manga.title }}</p>
  </div>
</a>

