<app-hot-releases></app-hot-releases>
<div class="container">
  <div class="row">
    <h2>Hot topics</h2>
    <hr/>
    <app-topic></app-topic>
    <app-topic></app-topic>
    <app-topic></app-topic>
    <a href="#" class="text-right" style="float: right; font-size: 18pt">More</a>
  </div>
  <app-top-list [title]="'Trending'" [mangas]="top10PopularManga"></app-top-list>
  <app-top-list [title]="'Most popular'" [mangas]="top10RatedManga"></app-top-list>
  <footer>
    <p>Copyright</p>
  </footer>
</div>

