<div class="col-md-4">
  <img src="http://via.placeholder.com/550x500" width="100%"/>
  <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula vulputate elit, sed tincidunt augue fringilla in. Vestibulum aliquam turpis sem, nec sodales est imperdiet a. Morbi imperdiet nunc sed turpis pellentesque hendrerit. In interdum libero ut magna ornare pretium. Donec sed finibus odio. Curabitur euismod dapibus tortor. Integer vel tellus id risus lobortis facilisis. Vivamus eu posuere mauris.</p>
  <a href="#">More</a>
</div>
