<div class="col-md-6">
  <h1>{{ manga.title }}</h1>
  <table class="table table-striped text-left">
    <tr>
      <td>Overall rating:</td>
      <td>5/5</td>
    </tr>
    <tr>
      <td>Genres:</td>
      <td></td>
    </tr>
    <tr>
      <td>Author:</td>
      <td>{{ manga.author }}</td>
    </tr>
    <tr>
      <td>Chapters:</td>
      <td>352</td>
    </tr>
    <tr>
      <td colspan="2">Summary</td>
    </tr>
    <tr>
      <td colspan="2">{{ manga.description }}</td>
    </tr>
  </table>
</div>
<div class="col-md-6">
  <img src="{{ manga.imagePath }}" class="img-responsive">
</div>
<div class="col-xs-12">
  <ul class="nav nav-tabs">
    <li><a>Reviews</a></li>
    <li><a>Chapters</a></li>
    <li><a>Miscellaneous</a></li>
  </ul>
</div>


