<h2>{{ title }}</h2>
<hr/>
<div class="col-md-12">
  <ul class="list-group list-inline">
    <li><app-top-list-item [boxSize]="500" [manga]="mangas[0]" [mangaIndex]="0"></app-top-list-item></li>
    <li>
      <ul class="list-group" style="list-style-type: none">
        <li><app-top-list-item [boxSize]="212" [manga]="mangas[1]" [mangaIndex]="1"></app-top-list-item></li>
        <li><app-top-list-item [boxSize]="212" [manga]="mangas[2]"></app-top-list-item></li>
      </ul>
    </li>
    <li>
      <ul class="list-group" style="list-style-type: none">
        <li><app-top-list-item [boxSize]="212" [manga]="mangas[3]" [mangaIndex]="2"></app-top-list-item></li>
        <li><app-top-list-item [boxSize]="212" [manga]="mangas[4]" [mangaIndex]="3"></app-top-list-item></li>
      </ul>
    </li>
  </ul>
  <a href="#" class="text-right" style="float: right">More</a>
</div>
