<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Hot releases</h1>
      <hr/>
    </div>
  </div>
</div>
<ngx-carousel
  [inputs]="carousel"
  (carouselLoad)="carouselLoad($event)">
  <ngx-tile NgxCarouselItem *ngFor="let manga of mangas" (mousedown)="mouseDownEvent()" (mouseup)="mouseUpEvent()">
    <div class="carousel-tile">
      <div
        [ngStyle]="{'background-image': 'url(../../../assets/OnePunchMan_manga_cover.png)'}"
        class="img-responsive background-center manga-cover">
      </div>
      <p id="manga-cover-name">One Punch Man</p>
    </div>
  </ngx-tile>
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>