#releases-container {
  height: 700px;
}
#releases-list {
  padding: 0;
  margin: 0;
}
#releases-list li {
  padding: 0;
}
.background-center {
  background-repeat: no-repeat;
  background-position: center;
}
.manga-cover {
  width: 100%;
  height: 300px;
  /*background-image: url('../../../assets/test.jpg');*/
  background-size: cover;
}
#manga-cover-name {
  min-height: 50px;
  background-color: #b9b9b9;
  text-align: center;
  line-height: 50px;
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}
.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}
.carousel-tile {
  transition: transform 300ms;
}
.carousel-tile:hover {
  transform: scale(1.1);
}
